@tailwind base;
@tailwind components;

@import "./glass.css";
@import "./scrollbar.css";
@import "./linear-wipe.css";

@tailwind utilities;

*,
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(140deg, rgb(242, 242, 247) 0%, rgb(229, 229, 243) 100%);
}

.dark body {
  background: linear-gradient(140deg, rgb(0, 0, 0) 0%, rgb(10, 10, 14) 100%);
}
