@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app{
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.btn{
  transition: all .2s ease-in-out;
}

.btn:hover{
  color: #4080E7;
}

.lishadow{
  box-shadow: 0 0 10px rgba(0,0,0,.09);
}

.contt a:hover{
  box-shadow: 0 0 3px #4080E7;
}

.spin {
  animation-name: spin;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.proj{
  background-position: top;
  transition: all 5s ease-in-out;
}

.proj:hover{
  background-position: bottom;
  transition: all 5s ease-in-out;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media (max-width: 800px) {
  .spin{
    bottom: -32px;
    right: -28px;
  }

  .circle{
    width: 5rem;
  }

  .pcguy{
    width: 2.5rem;
  }

  .box{
    width: 90%;
  }

}

@media (max-width: 768px){
  .proj{
    width: 100%;
  }
}